<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE-edge">
    <title>Pokémon</title>

    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

    <div id="controls">
      <a href="#build" class="build">Build</a>
      <a href="#play" class="play">Play</a>
      <a href="#reset" class="reset">Reset</a>
    </div>

    <div id="map"> </div>


    <!-- underscore templates -->

    <script type="text/template" id="swatch-template">
      <li class="swatch <%= name %>"></li>
    </script>

    <script type="text/template" id="canvas-template">
      <% _.each(tiles, function (row) { %>
        <div class="row">

        <% _.each(row, function (tile) { %>
          <div class="tile swatch <%= tile.swatch %>" data-row="<%= tile.row %>" data-col="<%= tile.col %>"></div>
        <% }); %>

        </div>
      <% }); %>
    </script>

    <script type="text/template" id="builder-template">
      <div class="canvas"></div>
      <hr/>

      <div class="palette">
        <ul>
        </ul>
      </div>
    </script>


    <!-- pad 10 pixels because of <html> frame -->
    <script type="text/template" id="player-template">
      <div class="player facing-<%= orientation %>"
        style="top: <%= top + 10 %>px; left: <%= left + 10 %>px"></div>
    </script>



    <!-- load scripts -->
    <script src="lib/js/jquery-1.11.0.js"></script>
    <script src="lib/js/mousetrap.min.js"></script>
    <script src="lib/js/underscore.js"></script>
    <script src="lib/js/backbone.js"></script>

    <script type="text/javascript">
      window.POKEMON = {};
    </script>

    <script src="app/utils.js"></script>
    <script src="app/builder.js"></script>
    <script src="app/player.js"></script>
    <script src="app/map.js"></script>
    <script src="app/pokemon.js"></script>

  </body>
</html>

